@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


#app {
  max-width: 1280px;
  height:fit-content;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

body {
  background: white;
  font-family: 'Inter', sans-serif;
  font-size: 1em;

}

h1 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
}